.exhibition-text-body {
    max-width: 600px;
    border: 5px solid var(--main-blue-color);
    padding: 20px 40px;
    line-height: 1.6;
    margin: 20px;
    font-family: 'Noto Sans', sans-serif;
    margin: 50px;
}

.exhibition-text-body p {
    margin: 20px;
}