.program-info {
    font-size: large;
    color: var(--main-blue-color);

    padding: 0px 20px; 
    margin: 0px 30px;
}

.program-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.program-item {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;

    max-width: min(35vw, 400px);
    border: 5px solid var(--main-blue-color);
    padding: 10px 20px; 
    margin: 30px;
}

.program-item img {
    max-width: min(35vw, 400px);
}

@media only screen and (max-width: 600px) {

    .program-info {
        font-size: large;
        color: var(--main-blue-color);
    
        padding: 0vh 2.5vw; 
        margin: 0vh 2.5vw;
    }

    .program-container {
        display: block;
        margin: 5%;
    }

    .program-item {
        margin: 2.5vh 2.5vw;
        padding: 0vh 2.5vw;
        max-width: 80vw;
    }

    .program-item img {
        max-width: 80vw;
    }
}